.color-black {
    color: #1a202c;
}
.textarea {
    width: 100%;
    height: 500px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}

.navbar-brand{
    color: #c7ad88;
}

a.footer-social {
    margin-right: 100px;
}

.order-table {
    padding: 0 15px;
}
